@import 'variable.less';

.radio-button {
  margin-top: 5px;
  margin-bottom: 5px;
}
.checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
}
.van-dialog__confirm,  .van-dialog__cancel {
  background: white;
  color: black;
}
.van-dialog__confirm,  .van-dialog__confirm {
  background: white;
  color: #e5433e;
}

.vs-tree-node .vs-tree-node__children{
  overflow: none !important;
  background-color: none!important;
}
.van-cell__value{
  text-align: inherit;
}
.van-divider::before,.van-cell::after{
  display: none;
}
body,
html {
  height: 100%;
  background-color: white;
  font-family: 'pingfang';
}
.van-cell::after{
  transform:none
}
